:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: 'Abel', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.class_main {
  background-color: #232528;
  padding: 10px 20px;
}

.class_header, 
.class_content, 
.class_footer, 
.class_dashboard, 
.class_content .class_article > div {
  border: 1px solid red;
  margin: 10px 0px;
  background-color: bisque;
  padding: 10px 20px;
}

.class_header > ul {
  display: flex;
  justify-content: flex-end;
}
.class_header > ul > li { 
  margin: 0px 5px;
  list-style: none;
}

.class_content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.class_content .class_article{
  display: flex;
  justify-content: space-around;
}

.class_content .class_dashboard {
  width: 70%;
}

.class_content .class_sidebar {
  width: 20%;
  list-style: none;
}

.class_content ul > li { 
  list-style: none;
}

.class_content .class_article > div {
  width: 40%;
}